APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:p8a6Te9MdF4A/33hXMOlWAf2e/ce/1qSm9+5iB9l9QM=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LINE_CLIENT_ID=1660695739
LINE_CLIENT_SECRET=8dc324bb03477f9c4fe4b19774994546
LINE_REDIRECT_URI=http://line-app.test:8088/line/callback

LINE_CHANNEL_TOKEN=mDqr/7OX1YqK/oWxN8uI2jYALUuOR/yr66R4lM881mGfbjnV93gO5ACBEYB85aRlL5RBe3GIMCYyTj9KAV1YO4F/dFs2a6+1dS/RvIEP9uSNQGs7qKwj1XkDf0JZXkxwehLk+gbgDhMEq7RBCSuhPQdB04t89/1O/w1cDnyilFU=
LINE_PUSH_MSG_URI=https://api.line.me/v2/bot/message/push
